In [2]:
import pandas as pd
import numpy as np
print("pandas imported sucssfully")
print("numpy imported sucessfully")

pandas imported sucssfully
numpy imported sucessfully

In [7]:
#series is single coloumn of data (like a list or array) with an index, used in Ml for Feature coloums and target columns
#Feature coloumn ex: age, salary, temprature
#Target variables ex: lables in classification/regression

#feature coloumn for house price
prices= pd.Series([3500,4000,4500])
print("series ex: \n", prices)

series ex:
 0    3500
1    4000
2    4500
dtype: int64

In [14]:
#to print Series frojm a numpy array

#simulating a featues in a dataset
feature= np.array([0.1,0.5,0.9])
series= pd.Series(feature, name="feature_example") #naming a series
print(feature)
print(series)

[0.1 0.5 0.9]
0    0.1
1    0.5
2    0.9
Name: feature_example, dtype: float64

In [17]:
#for labled datasets
lables= {"cat": 0, "dog": 1, "bird": 2}
lable_series= pd.Series(lables)
print(lable_series)

cat     0
dog     1
bird    2
dtype: int64

In [18]:
#DaraFrame is a table(like an excel sheet or sql table) with rows and coloums. Used in ML/Ai for storing darasets, feature endineering, preparing data for ML modles

#storing data ex: CSV file
#Feature engineering ex: adding/mofiy9ng coloumns
#preparing data for ML modles ex: X_train Y_train

#small dataset for ml
data={
    "age": [25,30,35], #Feature1
    "income": [50000,80000,120000], #Feature2
    "lable": [0,1,1] # Target variable (0=no
}

df= pd.DataFrame(data)
print(df)

   age  income  lable
0   25   50000      0
1   30   80000      1
2   35  120000      1